.text {
  margin-bottom: 15px;
}

.text__small {
  font-size: 11px;
}

.text__white {
  color: #fff;
}

.text__quote::before{
  content: '"';
  font-size: 40px;
  color: #ccc;
  font-family: serif, 'Times New Roman', Times, Georgia;
}
.text__quote {
  color: rgb(230, 200, 67);
  font-weight: bold;
  font-size: 16px;
}
.text__quote::after{
  content: '"';
  font-size: 40px;
  color: #ccc;
  font-family: serif, 'Times New Roman', Times, Georgia;
}
